<div class="container">
    <div class="box-1">
        <h3>{{'Confirmed' | uppercase }}</h3>
        <h1 style="font-size: 3em;">{{totalConfirmed}}</h1>
    </div>
    <div class="box-1">
        <h3>{{'recovered' | uppercase }}</h3>
        <h1 style="font-size: 3em;">{{totalRecovered}}</h1>
    </div>
    <div class="box-1">
        <h3>{{'deaths' | uppercase }}</h3>
        <h1 style="font-size: 3em;">{{totalDeaths}}</h1>
    </div>
    <div class="box-1">
        <h3>{{'active' | uppercase }}</h3>
        <h1 style="font-size: 3em;">{{totalActive}}</h1>
    </div>
</div>