.radios{
    width:85%;
    margin: auto;
}
.radios div{
    /* margin: 10px 10px 10px 10px; */
    margin:5px;
}
.media1{
    width:600px;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
@media(max-width:600px){
    .media1{
        width: 400px;
    }
}


